<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" flask projet="width=device-width, initial-scale=1.0">
    <title>green school</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
   
</head>
<body>
<header>
    <nav class="navbar navbar-expand bg-dark navbar-dark tex-bd-white">
        <div class="container-fluid mt-3 bg-dark ">
          <a class="navbar-brand text-info  ">GREEN SCHOOL</a>
          <button class="navbar-toggler t" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav  md-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="/">ACCUEIL</a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="contact">CONTACT</a>
                <li class="nav-item">
                  <a class="nav-link active"   aria-current="page"href="propos">PROPOS</a>
                  <li class="nav-item">
                    <a class="nav-link active"   aria-current="page"href="user">USER</a>
              </li>
              
            
            
        
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="inscription">INSCRIPTION</a>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
            
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<main>



  
  
  
  
{% block main %} {%endblock%}
</main>
<footer>
            <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
</footer>
</body>
</html>