{% extends 'base.html'%} 



{% block main %}


<div class="d-flex justify-content-between bg-dark mt-1 ">

<div class="text-center mt-5  ">
<h1 class="text-white display-5"> Get your scholl lessons<span class="text-info"> at home </span></h1>
<h4 class="mt-4 text-white">we will offer you a greet online school in this
     path we wil have a great time to laern together</h4>
<!-- <img src= "{{url_for('static', filename='images/img.png')}}" alt="images" width="700"> -->
<a href="#" class="btn btn-info mt-4 ">se connecter</a>

</div>

<img class="" src= "{{url_for('static', filename='images/home.webp')}}" alt="images" width="500">
</div>
<h1 class="text-center py-4 bg-white "> la formation</h1>


<section class="bg-info  ">
<div class="container  py-5 px-5">
     <div class="row text-center "> 
          <div class="col">
          
          
               <div class="card bg-info text-white text-center" style="width: 18rem;" >
                    <img class="" src= " {{url_for('static', filename='images/level1.jpg')}} " class="card-img-top" alt="..." height="250" width="" >
                    <div class="card-body bg-dark ">
                      <h5 class="card-title ">LEVEL 1</h5>
                      <p class="card-text">DUREE: <span class="text-info"> MOIS.</span></p>
                      <a href="#" class="btn btn-info">s'inscrir</a>
                      <a href="#" class="btn btn-info m-3">voir plus</a>

                    </div>
                  </div> 
               </div>
           
          <div class="col ">
               
               <div class="card bg-info text-white  text-center" style="width: 16rem;" >
                    <img class="" src= " {{url_for('static', filename='images/level2.jpg')}} " class="card-img-top" alt="..." width="">
                    <div class="card-body bg-dark">
                      <h5 class="card-title ">LEVEL 2</h5>
                      <p class="card-text">DUREE:<span class="text-info"> MOIS.</span></p>
                      <a href="#" class="btn btn-info">s'inscrir</a>
                      <a href="#" class="btn btn-info m-3">voir plus</a>
                      
                    </div>
                  </div> 
                
          </div>

          <div class="col "> 
               
               <div class="card bg-dark text-white text text-center" style="width: 16rem;" >
                    <img class="" src= " {{url_for('static', filename='images/level3.jpg')}} " class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                      <h5 class="card-title">level 3</h5>
                      <p class="card-text">DUREE:<span class="text-info"> MOIS.</span></p>
                      <a href="#" class="btn btn-info">s'inscrir</a>
                      <a href="#" class="btn btn-info m-3">voir plus</a>
                    </div>
                  </div> 
                
          </div>
     


          
               
                
               <div class="col py-5 px-5"> 
                    
                    <div class="card bg-dark text-white  text-center" style="width: 16rem;" >
                         <img class="" src= " {{url_for('static', filename='images/level6.jpg')}} " class="card-img-top" alt="..." height="250">
                         <div class="card-body">
                           <h3 class="card-title">level 4 </h3>
                           <p class="card-text">DUREE: <span class="text-info"> MOIS.</span></p>
                           <a href="#" class="btn btn-info">s'inscrir</a>
                      <a href="#" class="btn btn-info m-3">voir plus</a>

                      
                         </div>
                       </div> 
                     
               </div>
               
               
          
</section>
<h1 class="text-center mt-4 bg"> WHO WE <span class="text-info"> ARE </span></h1> 

<div class="d-flex  mt-4 px-5 ">
     <img class=" bg-white" src= "{{url_for('static', filename='images/student.webp')}}" alt="images" width="500">
     <div class="text-center   ">
<!--      
     <h3 class="mt-4 px-5 " >we will offer you<br >a greet online school in this<br>
          path we wil have a great time to laern together</h3>
          <a href="#" class="btn btn-info px-5 mt-3">S'inscrire</a> -->
     </div>
     
    <h5 class="px-4"> 
Bienvenue à ** *<Span class="text-info"> Green school</Span>** : Découvrez un monde d'apprentissage et de croissance au sein de notre institution prestigieuse.

**Donner du pouvoir aux esprits, façonner l'avenir** : Chez **<Span class="text-info"> Green school</Span>**, nous croyons en l'épanouissement des jeunes esprits pour qu'ils deviennent des individus confiants, compatissants et compétents.

**Notre Vision** : Nous envisageons un avenir où l'éducation transcende les frontières et permet à chaque élève d'atteindre son plein potentiel.

N'hésitez pas à personnaliser ces phrases pour qu'elles reflètent l'identité unique et les valeurs de votre école ! 🌟🎓
    </h5>
     </div>
     
</section>

     <section class="bg-white py-5">


          <h1 class="text-center py-4 bg-white  "> TEMOINS</h1>

               <div class="d-flex  ml-4 px-5 ">
                    <img class=" bg-dark bg-white" src= "{{url_for('static', filename='images/photo.webp')}}" alt="images" width="400">
                    <div class="text-center bg-white"></div>
                    
                    <h5 class=" mt-4 py-4 px-5">we will offer you<br >a greet online school in this<br>
                         path we wil have a great time to laern together</h5></div>
</section>
     
<footer class=" bg-dark ">

<p class="">
     <a href="/"> 
      <p class="text-end">
back to top

      </p>    
     </a>
</p>
<div class="container ">
     <div class="row text-white text-center">
   <div class="col "> <H4 class="text-info">MENUE</H4>
     <div class="col" >ACCUEIL</div>
     <div class="col" >CONTACT</div>
     <div class="col" >CONTACT</div>
   </div>
   
   <div class="col"> <H3 class="text-info">LEVELS</H3>
     <div class="col" >LEVEL 1</div>
     <div class="col" >LEVEL 2</div>
     <div class="col" >LEVEL 3</div>
     <div class="col" >LEVEL 4</div>
     <div class="col" >LEVELE 5</div>
     <div class="col" >LEVEL 6</div>
   </div>
   
   <div class="col"><H3 class="text-info"> RESEAEUX SOCIAUX</H3>
     <a href="user.html"><div class="col" >FACEBOOK</div></a>
     <div class="col" >YOUTUBE</div>
     <div class="col" >INSTAGRAM</div>
   </div>
   </div>
   


</footer>








{%endblock%}