{% extends 'base.html'%} 



{% block main %}
<div class="d-flex justify-content-between bg-dark mt-1 ">

<div class="text-center mt-5  ">
<h1 class="text-white display-5"> Get your scholl lessons<span class="text-info"> at home </span></h1>
<h3 class="mt-4 text-white">we will offer you a greet online school in this
     path we wil have a great time to laern together</h3>
<!-- <img src= "{{url_for('static', filename='images/img.png')}}" alt="images" width="700"> -->
<button class="btn-btn mt-4 p-2 text-white bg-info ">get started </button>
</div>

<img class="" src= "{{url_for('static', filename='images/img6.svg')}}" alt="images" width="500">
</div>
<h1 class="text-center py-4 bg-white "> la formation</h1>


<section class="bg-white">
<div class="container ">
     <div class="row"> 
          <div class="col">
          
          
               <div class="card bg-dark text-white text-center" style="width: 18rem;" >
                    <img class="" src= " {{url_for('static', filename='images/img7.svg')}} " class="card-img-top" alt="..." >
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                  </div> 
               </div>
           
          <div class="col"> <div class=""></div>
               
               <div class="card bg-dark text-white text text-center" style="width: 18rem;" >
                    <img class="" src= " {{url_for('static', filename='images/img7.svg')}} " class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                  </div> 
                
          </div>
          
          <div class="col"> 
               
               <div class="card bg-dark text-white text text-center" style="width: 18rem;" >
                    <img class="" src= " {{url_for('static', filename='images/img7.svg')}} " class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                  </div> 
                
          </div>
     </div> 


     <div class="container py-4">
          <div class="row"> 
               <div class="col">
               
               
                    <div class="card bg-dark text-white text-center" style="width: 18rem;" >
                         <img class="" src= " {{url_for('static', filename='images/img7.svg')}} " class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-info">Go somewhere</a>
                         </div>
                       </div> 
                    </div>
                
               <div class="col"> <div class=""></div>
                    
                    <div class="card bg-dark text-white text text-center" style="width: 18rem;" >
                         <img class="" src= " {{url_for('static', filename='images/img7.svg')}} " class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-info">Go somewhere</a>
                         </div>
                       </div> 
                     
               </div>
               
               <div class="col"> 
                    
                    <div class="card bg-dark text-white text text-center" style="width: 18rem;" >
                         <img class="" src= " {{url_for('static', filename='images/img7.svg')}} " class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">Card title</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-info">Go somewhere</a>
                         </div>
                       </div> 
                     
               </div>
          </div> 
</section>


<div class="d-flex bg-white ml-4">
     <img class=" bg-dark" src= "{{url_for('static', filename='images/img6.svg')}}" alt="images" width="400">
     <div class="text-center mt-5 bg-white ">
     <h1 class=""> who we <span class="text-info"> are </span></h1>
     <h3 class="mt-4">we will offer you<br >a greet online school in this<br>
          path we wil have a great time to laern together</h3>
     <!-- <img src= "{{url_for('static', filename='images/img.png')}}" alt="images" width="700"> -->
     <button class="btn-btn mt-4 p-2 bg-info ">get started </button>
     </div>
     
    
     </div>
<section>

{%endblock%}