{% extends 'base.html'%} 



{% block main %}


<div class="d-flex justify-content-between bg-dark mt-1 ">

<div class="text-center mt-5  ">
<h1 class="text-white display-5"> Get your scholl lessons<span class="text-info"> at home </span></h1>
<h3 class="mt-4 text-white">we will offer you a greet online school in this
     path we wil have a great time to laern together</h3>
<!-- <img src= "{{url_for('static', filename='images/img.png')}}" alt="images" width="700"> -->
<a href="#" class="btn btn-info">Go somewhere</a>
</div>

<img class="" src= "{{url_for('static', filename='images/home.webp')}}" alt="images" width="500">
</div>
<h1 class="text-center py-4 bg-white "> la formation</h1>


<section class="bg-white  ">
<div class="container  ">
     <div class="row text-center"> 
          <div class="col">
          
          
               <div class="card bg-dark text-white text-center" style="width: 16rem;" >
                    <img class="" src= " {{url_for('static', filename='images/img10.webp')}} " class="card-img-top" alt="..." >
                    <div class="card-body">
                      <h5 class="card-title">LEVEL 1</h5>
                      <p class="card-text">Some quick example text to build  of the card's content.</p>
                      <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                  </div> 
               </div>
           
          <div class="col"> <div class=""></div>
               
               <div class="card bg-dark text-white text text-center" style="width: 16rem;" >
                    <img class="" src= " {{url_for('static', filename='images/img10.webp')}} " class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">LEVEL 2</h5>
                      <p class="card-text">Some quick example text to card's content.</p>
                      <a href="#" class="btn btn-info">s'inscrir</a>
                      <a href="#" class="btn btn-info m-3">voir plus</a>
                      
                    </div>
                  </div> 
                
          </div>
          
          <div class="col"> 
               
               <div class="card bg-dark text-white text text-center" style="width: 16rem;" >
                    <img class="" src= " {{url_for('static', filename='images/img10.webp')}} " class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">level 3</h5>
                      <p class="card-text">Some quick example text to build card's content.</p>
                      <a href="#" class="btn btn-info">Go somewhere</a>
                    </div>
                  </div> 
                
          </div>
     </div> 


     <div class="container py-4">
          <div class="row"> 
               <div class="col">
               
               
                    <div class="card bg-dark text-white text-center" style="width: 16rem;" >
                         <img class="" src= " {{url_for('static', filename='images/img10.webp')}} " class="card-img-top" alt="...">
                         <div class="card-body">
                           <h2 class="card-title">level 4</h3>
                           <p class="card-text">Some quick example text to build oncard's content.</p>
                           <a href="#" class="btn btn-info">Go somewhere</a>
                         </div>
                       </div> 
                    </div>
                
               <div class="col"> 
                    
                    <div class="card bg-dark text-white text text-center" style="width: 16rem;" >
                         <img class="" src= " {{url_for('static', filename='images/img10.webp')}} " class="card-img-top" alt="...">
                         <div class="card-body">
                           <h3 class="card-title">level 5</h3>
                           <p class="card-text">S up the bulk of the card's content.</p>
                           <a href="#" class="btn btn-info">Go somewhere</a>
                         </div>
                       </div> 
                     
               </div>
               
               <div class="col"> 
                    
                    <div class="card bg-dark text-white text text-center" style="width: 16rem;" >
                         <img class=" " src= " {{url_for('static', filename='images/img10.webp')}} " class="card-img-top" alt="...">
                         <div class="card-body">
                           <h5 class="card-title">level 6</h5>
                           <p class="card-text">Some quick example text to build  content.</p>
                           <a href="#" class="btn btn-info">Go somewhere</a>
                         </div>
                       </div> 
                     
               </div>
          </div> 
          <h1 class="text-center mt-4 bg"> who we <span class="text-info"> are </span></h> 
</section>


<div class="d-flex  mt-4 px-5 ">
     <img class=" bg-white" src= "{{url_for('static', filename='images/student.webp')}}" alt="images" width="500">
     <div class="text-center   ">
     
     <h3 class="mt-4 px-5 " >we will offer you<br >a greet online school in this<br>
          path we wil have a great time to laern together</h3>
          <a href="#" class="btn btn-info">Go somewhere</a>
     </div>
     
    
     </div>
     
<section>

     <section class="bg-white py-5">


          <h1 class="text-center py-4 bg-white  "> TEMOINS</h1>

               <div class="d-flex  ml-4 px-5 ">
                    <img class=" bg-dark bg-white" src= "{{url_for('static', filename='images/photo.webp')}}" alt="images" width="400">
                    <div class="text-center bg-white"></div>
                    
                    <h5 class=" mt-4 py-4 px-5">we will offer you<br >a greet online school in this<br>
                         path we wil have a great time to laern together</h5></div>

     
<footer class=" bg-dark mt-5">

<p class="">
     <a href="/"> 
      <p class="text-end">
back to top

      </p>    
     </a>
</p>
<div class="container">
     <div class="row text-white text-center">
   <div class="col "> <H3 class="text-info">MENUE</H3>
     <div class="col" >ACCUEIL</div>
     <div class="col" >CONTACT</div>
     <div class="col" >CONTACT</div>
   </div>
   
   <div class="col"> <H3 class="text-info">LEVELS</H3>
     <div class="col" >LEVEL 1</div>
     <div class="col" >LEVEL 2</div>
     <div class="col" >LEVEL 3</div>
     <div class="col" >LEVEL 4</div>
     <div class="col" >LEVELE 5</div>
     <div class="col" >LEVEL 6</div>
   </div>
   
   <div class="col"><H3 class="text-info"> RESEAEUX SOCIAUX</H3> RESEAEUX SOCIAUX 
     <div class="col" >FACEBOOK</div>
     <div class="col" >YOUTUBE</div>
     <div class="col" >INSTAGRAM</div>
   </div>
   </div>
   


</footer>








{%endblock%}