{% extends 'base.html'%} 



{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">

<section#2 class=" bg-light d-flex ">
<!-- <div class=" row d-flex bg-light"> -->
    <h2 class=" text-center">LEVELS 1</h2>
<div class="col bg">
    <div class="col m-3 text-black" >LEVEL 1</div>
    <div class="col m-3 text-black" >LEVEL 2</div>
    <div class="col m-3 text-black" >LEVEL 3</div>
    <div class="col m-3 text-black" >LEVEL 4</div>
    <div class="col m-3 text-black" >LEVELE 5</div>
    <div class="col m-3 text-black" >LEVEL 6</div></div>

<div class="row ">
    <h2 class="col">LEVELS 1</h2>
    <form>
      
      <div class="mb- 3">
        <label for="exampleInputPassword1" class="form-label"></label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
        <div class="mb-">
          <label for="exampleInputEmail1" class="form-label"></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
       
        </div>
<a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
</div>
</div>
</div>
</section#2>

{%endblock%}
