{% extends 'base.html'%} 



{% block main %}
<section class="bg-white">

<h2 class=" text-center mt-5  ">BIEVENUE DANS LA <br>FORMATION LEVEL 1</h2>
<div class=" mt-5 text-center">
Lorem ipsum dolor sit amet consectetur adipisicing 
elit. Ab sunt ut qui inventore <br>expedita atque facilis explicabo, aliquam dolores 
officiis illum totam. Praesentium <br>sint rerum quis voluptatibus necessitatibus maiores
 accusanti, aliquid qui deleniti deserunt dicta debitis<br>
, saepe molestias assumenda totam dignissimos repellendus sunt!  excepturi


    </div>
    <div class="card-body text-center mt-3">
     
      <a href="#" class="btn btn-info">s'inscrir</a>
    </div>
   
  </div>
  
   <h2 class="text-center mt-4"> Qui est destine cet Level 1?</h2>
   
   <p class="text-center mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptates voluptatem ipsa similique! Dolorum <br>nihil exercitationem vero, dolor pariatur quaerat?

   </p>
    

  <h2 class="text-center mt-4"> Les attendues</h2>
  <p class="text-center mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptates voluptatem ipsa similique! Dolorum <br>nihil exercitationem vero, dolor pariatur quaerat?

   </p>
   

</section>
<section class="bg-white">


  <footer class=" bg-dark mt-5">

    
         <a href="/" class="text-info"> 
          <p class="text-end">
    back to home
    
          </p>    
         </a>
    
   
         <div class="container">
          <div class="row text-white text-center">
        <div class="col "> <H3 class="text-info">MENUE</H3>
          <div class="col" >ACCUEIL</div>
          <div class="col" >CONTACT</div>
          <div class="col" >CONTACT</div>
        </div>
        
        <div class="col"> <H3 class="text-info">LEVELS</H3>
          <div class="col" >LEVEL 1</div>
          <div class="col" >LEVEL 2</div>
          <div class="col" >LEVEL 3</div>
          <div class="col" >LEVEL 4</div>
          <div class="col" >LEVELE 5</div>
          <div class="col" >LEVEL 6</div>
        </div>
        
        <div class="col"><H3 class="text-info"> RESEAEUX SOCIAUX</H3> RESEAEUX SOCIAUX 
          <div class="col" >FACEBOOK</div>
          <div class="col" >YOUTUBE</div>
          <div class="col" >INSTAGRAM</div>
        </div>
        </div>
        
     
    

</section>


{%endblock%}