{% extends 'base.html'%} 



{% block main %}
<section class="bg-white">

<h2 class=" text-center mt-5  ">BIEVENUE DANS LA <br>FORMATION LEVEL 1</h2>
<div class=" mt-5 text-center">
Lorem ipsum dolor sit amet consectetur adipisicing 
elit. Ab sunt ut qui inventore <br>expedita atque facilis explicabo, aliquam dolores 
officiis illum totam. Praesentium <br>sint rerum quis voluptatibus necessitatibus maiores
 accusanti, aliquid qui deleniti deserunt dicta debitis<br>
, saepe molestias assumenda totam dignissimos repellendus sunt!  excepturi


    </div>
    <div class="card-body text-center mt-3">
     
      <a href="#" class="btn btn-info">s'inscrir</a>
    </div>
   
  </div>
  
   <h2 class="text-center mt-4"> Qui est destine cet Level 1?</h2>
   
   <p class="text-center mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptates voluptatem ipsa similique! Dolorum <br>nihil exercitationem vero, dolor pariatur quaerat?

   </p>
    

  <h2 class="text-center mt-4"> Les attendues</h2>
  <p class="text-center mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptates voluptatem ipsa similique! Dolorum <br>nihil exercitationem vero, dolor pariatur quaerat?

   </p>
   

</section>
<section>




</section>


{%endblock%}