{% extends 'base.html'%} 



{% block main %}
<h1 class="text-start mt-5 px-5 text-info">s'inscrier</h1>
<div class="container d-flex justify-content-end align-items-center">
<!-- <h2 class="text-center"> we will teach you everything on tech<h2>
<h2 class="text-center" > and so easy</h2> -->
<div class="container d-flex justify-content-between mt-5">
<form>
  
  <div class="mb- ">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="mb-">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    
    <div class="mb- ">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <div class="mb- ">
      <label for="exampleInputPassword1" class="form-label">conferm password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>

  <img src= "{{url_for('static', filename='images/img9.webp')}}" alt="images" width="700">
  
</div>

{%endblock%}