{% extends 'base.html'%}


{%block main %}
<!-- {% for message in get_flashed_messages() %} -->
<div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
  <!-- {{ message }} -->
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- {% endfor %} -->


<section class="row border  ">
    <div class="col">
        <form class=" p-5 mt-5 mx-5 rounded" action="/user" method="POST">
            <h2>Ajouter un Nouveau User</h2>
            <div class="mb-3">
                <label for="exampleInputNom" class="form-label">Nom </label>
                <input type="name" class="form-control" id="exampleInputNom" aria-describedby="name" name="Nom">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"> 
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pass">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">retaper Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name="repass">
              </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <a href="/inscription">s'?</a>?
          </form>
    </div>
    <div class="col  " >
        <img src="{{url_for('static', filename='images/img.png')}}" alt="img.png" class="w-100  " height="700px">
    </div>
    
</section>






{%endblock%}